@use 'hero';
@use '../styles/components/infos-bar';
@use '../styles/components/buttons';
@use './events';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: #fff;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px){
        max-width: 90%;
    }

    @media (max-width: 1024px){
        max-width: 80%;
    }
}

.footer{
    background-color: #186ca7;
    text-align: center;

    &__text{
        font-size: 18px;
        font-weight: bold;
        padding: 16px;
    }

}